@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000;
  --primary: #E0001A;
  --primary-light: #FFE5E5;
  --primary-lighter: #FFE8E8;
  --secondary: #E6E6E6;
  --secondary-lighter: #F6F6F6;
  --secondary-light: #F3F3F3;
  --secondary-dark: #949494;
  --secondary-darker: #666666;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-light: var(--primary-light);
  --color-primary-lighter: var(--primary-lighter);
  --color-secondary: var(--secondary);
  --color-secondary-lighter: var(--secondary-lighter);
  --color-secondary-light: var(--secondary-light);
  --color-secondary-dark: var(--secondary-dark);
  --color-secondary-darker: var(--secondary-darker);

  --font-sana-sans-medium: var(--font-sana-sans-medium);
  --font-sana-sans-heavy: var(--font-sana-sans-heavy);
  --font-sana-sans-bold: var(--font-sana-sans-bold);
  --font-sana-sans-black: var(--font-sana-sans-black);
  --font-sana-sans-italic: var(--font-sana-sans-italic);
  --font-sana-sans-medium-italic: var(--font-sana-sans-medium-italic);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sana-sans-medium), sans-serif;
}
